<section class="promo-cards-container">
    <div class="promo-cards">
        <div class="promo-card">
            <a href="/promo-1">
                <img 
                    src="{{cdn 'img/promo-image-1.png'}}" 
                    alt="Summer Sale Promo 1" 
                />
            </a>
        </div>
        <div class="promo-card">
            <a href="/promo-2">
                <img 
                    src="{{cdn 'img/promo-image-2.png'}}" 
                    alt="Summer Sale Promo 2" 
                />
            </a>
        </div>
    </div>
</section>
